<div class="heading"><h1>{{'student table' |uppercase}}</h1>
<h3>{{'ABC School' | lowercase}}</h3>
<h4>Average Mark Percentage of Students</h4>
<h4>{{'98.0926384' | number: '4.2-5'}}</h4>
<p>{{ 'Mark Table At 2024' | slice:0:13 }}</p>
<p>Cash Prize{{ 1000 | currency:'USD':'symbol' }}</p>
<p>Best Student{{ {name: 'Karthik', gender: 'male' , percentage :'0.90'} | json }}</p>
</div>
<div class="table-container">
  <table class="student-table">
    <thead>
      <tr>
        <th>{{'Name' | uppercase}}</th>
        <th>{{'gender' | uppercase}}</th>
        <th>{{'Mark' | uppercase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name | genderPipe: student.gender }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.percentage | percent}}</td>
      </tr>
    </tbody>
  </table>
</div>